*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.content{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.container{
  margin: 1rem;
  font-size: 200%;
}
/* 
.quantity{
  width: 20rem;
}

.quantity_minus span, .quantity_plus span{
  width: 20%;
  height: 2rem;
  background-color: red;
} */